
params {
    cooler = '/GitHub/distiller-nf/test/results/coolers_library_group/*.sacCer3.mapq_30.10000.mcool'
    expectedOptions = "-p 2"
    resolution = 10000
    window = 50000
    threads = 4
    help = false

}

 profiles { 
    standard { includeConfig './configs/local.config'}
    slurm { includeConfig './configs/slurm.config'}
    docker { docker.enabled = false}
    singularity {
        singularity.enabled = false
        singularity.autoMounts = false
    }
}

manifest {
    homePage = 'https://github.com/gspracklin/puddingstone-nf'
    author = 'George Spracklin'
    mainScript = 'main.nf'
    description = 'nextflow bash for Hi-C analysis'
    version = '1.0.0'

}

timeline {
    enabled = true
    file = "./pipeline_info/timeline.html"
}

trace {
    enabled = true
    file = "./pipeline_info/trace.txt"
}

report {
    enabled = true
    file = "./pipeline_info/report.html"
}


