
profiles { 
    standard { includeConfig './configs/local.config'}
    slurm { includeConfig './configs/slurm.config'}
    docker { docker.enabled = false
           // process.container = 'gspracklin/docker-conda:latest'
    }
    singularity {
        singularity.enabled = false
        singularity.autoMounts = false
    }
}

manifest {
    homePage = 'https://github.com/gspracklin/puddingstone-nf'
    author = 'George Spracklin'
    mainScript = 'main.nf'
    description = 'nextflow bash for Hi-C analysis'
    version = '1.0.0'

}

timeline {
    enabled = true
    file = "./pipeline_info/timeline.html"
}

trace {
    enabled = true
    file = "./pipeline_info/trace.txt"
}

report {
    enabled = true
    file = "./pipeline_info/report.html"
}


